<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>Crear Turno</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
      
      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="firstName" (keydown)="formValidator.onKeyDown($event)">
          <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
            Nombre es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="lastName" (keydown)="formValidator.onKeyDown($event)">
          <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
            Apellido es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Teléfono</mat-label>
          <input matInput type="number" formControlName="phoneNumber" (keydown)="formValidator.onlyNumbers($event)">
          <mat-error *ngIf="addressForm.controls['phoneNumber'].hasError('required')">
            Teléfono es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>Correo electrónico</mat-label>
          <input matInput type="email" formControlName="email">

          <mat-error *ngIf="addressForm.controls['email'].hasError('required')">
            Correo electrónico es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="addressForm.controls['email'].hasError('email')">
            Correo electrónico es <strong>inválido</strong>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Peluquero</mat-label>
          <mat-select formControlName="peluquero" (selectionChange)="peluquero()">
            <mat-option *ngFor="let user of users" [value]="user.id" >
              {{ user.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="addressForm.controls['peluquero'].hasError('required')">
            Peluquero es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepickerFilter]="esHabilitado" [matDatepicker]="picker" formControlName="date"  (dateChange)="fechaSeleccionada($event)" [min]="minDate" (click)="picker.open()">
            <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="addressForm.controls['date'].hasError('required')">
            Fecha es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-label>Disponibilidad</mat-label>
        <mat-radio-group formControlName="schedule" (change)="onRadioChange($event)">
          <mat-radio-button value="morning">Mañana</mat-radio-button>
          <mat-radio-button value="afternoon">Tarde</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="addressForm.controls['schedule'].hasError('required')">
          Elija una opcion <strong>requerido</strong>
        </mat-error>
      </div>

      <mat-radio-group formControlName="selectedRadio" >       
        <mat-radio-button *ngFor="let schedule of turnos" [id]="schedule.id" [value]="schedule.value"
          class="vertical-radio-button">
          {{ schedule.label }}
        </mat-radio-button>
      </mat-radio-group>
      <div class="error" *ngIf="error">
        <mat-error>No hay turnos disponibles</mat-error>
      </div>
      
      <mat-card-actions>
        <button mat-raised-button color="accent" type="submit">Guardar</button>
      </mat-card-actions>
    </form>

  </mat-card-content>

</mat-card>