<header class="masthead">
  <div class="position-absolute top-0 end-0 mt-3 me-3 d-block ">
      <a class="btn btn-success" routerLink="/login">Ingresar</a>
  </div>
  <div class="container">
      <div class="masthead-subheading">Bienvenido!</div>
      <div class="masthead-heading text-uppercase">Reserva tu turno</div>
      <button mat-fab extended (click)="navigateToAppointment()" type="button" aria-label="Crear turno">
          <mat-icon>event</mat-icon>
          Turno Online
      </button>
  </div>
</header>
