/* General Styles */
.full-width-table {
  width: 100%;
}
.table-container {
  overflow-x: auto;
}
.card-container {
  margin: 20px auto;
  background-color: var(--bg-dark-card);
  max-width: 900px;
}

.card-container * {
  background-color: inherit; /* Hereda el fondo del elemento padre */
}

/* Header Styles */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.card-title {
  font-size: 24px;
}

/* Button Styles */
.block-button {
  color: white !important; /* Color de texto para el botón */
  background-color: #ff0000 !important;

}

.block-button.blocked {
  background-color: #4caf50 !important; /* Color de fondo verde para el botón cuando el cliente está bloqueado */
}

/* Table Styles */
.status-absence {
  background-color: rgb(255, 0, 0) !important;
  color: white;
}

/* Responsive Design */
@media (max-width: 600px) {
  .card-header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .header-buttons {
    width: 100%;
    justify-content: space-between;
  }

  .card-title {
    margin-bottom: 10px;
  }

  .card-container {
    margin: 10px;
  }
}
