<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>Crear Usuario</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="addressForm" novalidate (ngSubmit)="addUser()">
      
      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="firstName"  (keydown)="formValidator.onKeyDown($event)">
          <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
            Nombre is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Apellido</mat-label>
          <input matInput placeholder="Apellido" formControlName="lastName" (keydown)="formValidator.onKeyDown($event)">
          <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
            Apellido is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Direccion</mat-label>
          <input matInput placeholder="Direccion" formControlName="direccion" (keydown)="formValidator.allowAlphanumeric($event)">
          <mat-error *ngIf="addressForm.controls['direccion'].hasError('required')">
            Direccion is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Telefono</mat-label>
          <input matInput placeholder="Telefono" formControlName="telefono" (keydown)="formValidator.onlyNumbers($event)">
          <mat-error *ngIf="addressForm.controls['telefono'].hasError('required')">
            Telefono is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="addressForm.controls['email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>


     <!--  <div class="row">
        <mat-form-field class="full-width">
          <mat-label>password</mat-label>
          <input matInput placeholder="password" formControlName="password">
          <mat-error *ngIf="addressForm.controls['password'].hasError('required')">
            password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div> -->

      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Rol</mat-label>
          <mat-select placeholder="Rol" formControlName="role">
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="peluquero">Peluquero</mat-option>
          </mat-select>
          <mat-error *ngIf="addressForm.controls['role'].hasError('required')">
            El rol es <strong>requerido</strong>.
          </mat-error>
        </mat-form-field>
      </div>
      
      <mat-card-actions>
        <button  mat-raised-button color="accent" type="submit">Guardar</button>
      </mat-card-actions>
    </form>
  </mat-card-content>

</mat-card>