<mat-card class="shipping-card">
  
  <mat-card-header>
    <mat-card-title>Crear Turno</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form id="formHorario" (ngSubmit)="guardarCambios()" class="form">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Dia</th>
              <th>Activo</th>
              <th>Turno mañana</th>
              <th>Activo</th>
              <th>Turno tarde</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dia of dias">
              <td>{{ dia.valor }}</td>
              <td>
                <div class="form-check form-switch">
                  <input type="checkbox" name="active_morning" class="form-check-input"
                    [checked]="horarios[dia.key]?.active_morning" (change)="toggleCheckbox(dia.key, 'active_morning')">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="morning_start">Desde:</label>
                  <select name="morning_start"  (change)="onSelectMorningStart($event, dia.key)">
                    <option *ngFor="let hora of horasAM" [value]="hora" [selected]="horarios[dia.key]?.morning_start === hora">
                      {{ hora }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="morning_end">Hasta:</label>
                  <select name="morning_end"  (change)="onSelectMorningEnd($event, dia.key)">
                    <option *ngFor="let hora of horasAM" [value]="hora" [selected]="horarios[dia.key]?.morning_end === hora">
                      {{ hora }}
                    </option>
                  </select>
                </div>
              </td>
              <td>
                <div class="form-check form-switch">
                  <input type="checkbox" name="active_afternoon" class="form-check-input"
                    [checked]="horarios[dia.key]?.active_afternoon" (change)="toggleCheckbox(dia.key, 'active_afternoon')">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="afternoon_start" class="ml-2">Desde:</label>
                  <select name="afternoon_start"  (change)="onSelectAfternoonStart($event, dia.key)">
                    <option *ngFor="let hora of horasPM" [value]="hora" [selected]="horarios[dia.key]?.afternoon_start === hora">
                      {{ hora }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="afternoon_end">Hasta:</label>
                  <select name="afternoon_end"  (change)="onSelectAfternoonEnd($event, dia.key)">
                    <option *ngFor="let hora of horasPM" [value]="hora" [selected]="horarios[dia.key]?.afternoon_end === hora">
                      {{ hora }}
                    </option>
                  </select>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <mat-card-actions>
      
          <button mat-raised-button color="accent" type="submit">Guardar</button>
    
      </mat-card-actions>
      
    </form>
  </mat-card-content>

</mat-card>
