<!-- <div class="grid-container">
  <h1 class="mat-h1">Dashboard Turnos</h1>
  <div class="row">
    <div class="col">
      <button mat-raised-button color="accent" (click)="showCreateAppointmentComponent()" *ngIf="!showCreateAppointment">Crear turno</button>
      <button mat-raised-button color="accent" (click)="showListAppointmentComponent()" *ngIf="!showListAppointment">Ver Turnos</button>
    </div>
  </div>
  <app-create-turn *ngIf="showCreateAppointment"></app-create-turn>
  <app-list-appointment *ngIf="showListAppointment"></app-list-appointment>
</div>
 -->