@import '~@angular/material/prebuilt-themes/purple-green.css';
/* Estilos para el tema oscuro */
body {
    background-color: rgb(0, 0, 0) !important; /* Fondo oscuro */
    color: white !important;
}
  
mat-card-title {
    font-size: 25px !important;
}