.full-width-table {
  width: 100%;
 }
.mat-elevation-z8{
  margin: 20px auto;
}

.full-width-table {
  width: 100%;
}

.mat-elevation-z8 {
  margin: 20px auto;
}

/* Opcional: Estilo para los botones de eliminar */
.mat-card-actions button {
  padding: 5px 10px;
}

.radioGroup{
  padding: 5px 10px;
}

.mat-elevation-z8 {
  background-color: #2c2e33;
  margin: 20px auto;
  max-width: 900px; 
}
.mat-elevation-z8 * {
  background-color: inherit; /* Hereda el fondo del elemento padre */
}

/* styles.css o tu archivo CSS específico */
.custom-cell {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  background-color: yellow !important; /* Fondo amarillo */
  color: black; /* Color de letra negro */
  font-weight: bold;
}

mat-card-title {
  font-size: 34px;
}

.table-container{
  overflow: auto;
}