.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar, .mat-primary {
  background-color: var(--bg-dark-card);
  color: white;
}

.mat-sidenav, .mat-nav-list {
  text-align: center;  
  background-color: var(--bg-dark-card);
  color: white;
}

a, .mat-list-item {
  color: white;
  text-decoration: none;
  transition: background-color var(--transition-base);
}

a:hover, .mat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.mat-sidenav-container, mat-icon, span {
  background: transparent;
}

.drawer-toggle {
  color: white;
}

/* Estilo para el footer */
.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

mat-sidenav-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #191c24;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}


