.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}


.mat-toolbar, .mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #191c24;
  color: white;
  justify-content: center;
}


.mat-sidenav, .mat-nav-list, a, span, .mat-list-item, mat-icon{
  background: black;
  color: white;
  text-align: center;
} 
.mat-sidenav-container{
  background: transparent;
}
